
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    list-style: none;
    color: black;

}
body, button{
    font-family: "Roboto", sans-serif;
}

body{
    background: #F0EBE1;
}

.container{
    width: 1312px;
    margin: auto;
}

.container{
    width: 1312px;
    margin: auto;
}
.recipes-buttons{
    display: flex;
    justify-content: center;
    gap: 16px;
    padding: 40px 0;
}

.recipes-buttons button{
    padding: 12px 24px;
    border-radius: 24px;
    background-color: transparent;
    color: black;
    text-transform: uppercase;
    border: 1px solid black;
}

.recipes-buttons button.active{
    background-color: #9FDC26;
}